.registration {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: rgb(177, 255, 229);
  width: 480px;
  height: 560px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  width: 360px;
  height: 48px;
  background-color: rgb(145, 158, 255);
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 500;
}
