* {
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.top-navigation {
  width: 100%;
  height: 72px;
  background-color: rgb(92, 92, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.top-navigation img {
  width: 48px;
  height: 48px;
  padding: 0 56px;
}

.navigation {
  width: 288px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation h1 {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.navigation h1:hover {
  cursor: pointer;
  background-color: rgb(176, 176, 255);
}

.button {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 64px;
}

.sign-up {
  width: 100%;
  height: 32px;
  border: none;
  border-radius: 5px;
  background-color: rgb(176, 176, 255);
  color: white;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
}

.sign-up:hover {
  background-color: white;
  color: rgb(176, 176, 255);
}

.hamburger-menu {
  display: none;
  width: 48px;
  height: 48px;
}

.hamburger-menu img {
  width: 100%;
  height: 100%;
}

.sidebar {
  display: none;
}

@media screen and (max-width: 640px) {
  .navigation {
    display: none;
  }

  .sign-up {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    width: 48px;
    height: 48px;
    padding: 0;
    border: none;
  }
  .hamburger-menu img {
    padding: 0;
    background-color: rgb(176, 176, 255);
  }

  .sidebar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    background-color: rgb(128, 128, 255);
  }

  .sidebar a {
    box-sizing: border-box;
    color: white;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-bottom: 1px solid white;
  }

  .sidebar a:hover {
    background-color: white;
    color: rgb(128, 128, 255);
  }
}
